<div class="team-boxed wrapper-home-container">
  <div class="container">


    <%# SECTION 1: TITLE %>
    <div class="row">
      <div class="intro mb-5">
            <h1 class="text-center">Services</h1>
            <p class="text-center">Explore our comprehensive range of wellness services, including physiotherapy, massage therapy, and osteopathy, provided by a team of highly professional and certified practitioners.</p>
      </div>
    </div>

    <div class="row">
      <% @services.each do |service| %>
        <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
          <div class="service-card">
            <div class="d-flex">
              <div class="service-info">
                <h5><%= service.name %></h5>
                <p><%= format_price_per_unit(service.price_per_unit) %> € | <%= service.duration_per_unit %> min.</p>
                <div class="mt-5">
                  <%= link_to "Explore", service_path(service), class: "button-18" %>
                </div>
              </div>
              <div class="image-container">
                <img class="service-image" src="<%= cl_image_path(service.photo.key) %>" alt="Professionals at work">
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
