<div class="container" data-controller="slot-selection" data-slot-selection-duration="<%= @duration %>">

    <div class="shadow-rounded mt-5">
      <div class="form-header">
        <h2>Update your meeting</h2>
        <p>Fill in the below information</p>
      </div>

      <%= form_for @meeting do |f| %>

        <!-- HIDEN FIELD -->
        <% if @package %>
          <%= f.hidden_field :package_id, value: @package.id %>
        <% end %>
        <%= f.hidden_field :status, value: "Pending", data: { slot_selection_target: "status" } %>

        <!-- FIELD Start Time et End Time READ-ONLY -->
        <div class="row">

          <div class="d-flex align-items-center mt-3">
            <div class="form_circle_blue me-3">1</div>
            <div>
              <h3 class="form_step_line1">PICK A TIME SLOT</h3>
              <p class="form_step_line2">
                <strong><%= f.label :start_time, "Selected: ", class: 'mr-2' %></strong>
                <%= f.text_field :start_time, value: @meeting.start_time&.strftime('%-d %B %Y from %H:%M'), class: 'mr-4', data: { slot_selection_target: "startTime" }, readonly: true, style: "border: none;" %>
                <%= " - " %>
                <%= f.text_field :end_time, value: @meeting.end_time&.strftime('%H:%M'), class: 'mr-2', data: { slot_selection_target: "endTime" }, readonly: true, style: "border: none;" %>
              </p>
            </div>
          </div>

          <div class="" style="display: flex;">
            <div class="form-group mt-1 d-flex align-items-center">
            </div>
          </div>
          <!-- CALENDAR INFO -->
          <div class="mt-2">
            <%= week_calendar attribute: :start_time, events: @final_slots_array do |date, slots| %>
              <div class="day-events" style="height: 450px;">
                <% slots.each do |slot| %>
                  <div class="availability-card slot" data-slot-target="slot" data-time="<%= slot.start_time %>" data-action="click->slot-selection#select"
                      style="top: <%= calculate_top_position(slot) %>%;
                      height: <%= calculate_height_for_meeting(slot)%>%;
                      font-size: 0.75em;
                      padding: 0.06em; ">
                    <%= slot.start_time.strftime('%H:%M') %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>

        </div>


        <!-- FIELD INFO -->
        <div class="row">

          <div class="<%= !current_user&.therapist ? '' : 'col-6' %>">
            <div class="d-flex align-items-center mt-3">
              <div class="form_circle_blue me-3">2</div>
              <div>
                <h3 class="form_step_line1">INFORMATION FOR YOUR PATIENT</h3>
                <p class="form_step_line2"> Optional</p>
              </div>
            </div>
            <div class="form-group mt-2">
              <%= f.text_area :info_public, class: 'form-control', style: 'height: 150px;' %>
            </div>
          </div>

          <% if current_user&.therapist %>
            <div class="col-6">

              <div class="d-flex align-items-center mt-3">
                <div class="form_circle_blue me-3">3</div>
                <div>
                  <h3 class="form_step_line1">PERSONAL NOTE</h3>
                  <p class="form_step_line2"> Optional</p>
                </div>
              </div>

              <div class="form-group mt-2">
                <%= f.text_area :info_private, class: 'form-control', style: 'height: 150px;' %>
              </div>

            </div>
          <% end %>

        <% if current_user&.therapist %>
          <div class="row"></div>

              <div class="d-flex align-items-center mt-3">
                <div class="form_circle_blue me-3">4</div>
                <div>
                  <h3 class="form_step_line1">SHARE SOME VIDEOS</h3>
                  <p class="form_step_line2"> Optional</p>
                </div>
              </div>

              <div class="form-group mt-2">
                <%= f.label :media, "Select media for the meeting:" %>
                <ul>
                  <% @media.each do |medium| %>
                    <li>
                      <%= check_box_tag 'meeting[medium_ids][]', medium.id %>
                      <%= medium.title %>
                    </li>
                  <% end %>
                </ul>
              </div>

          </div>
        <% end %>

        <!-- Bouton Submit -->
        <div class="actions mt-3 d-flex justify-content-center">
          <%= f.submit 'Confirm', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
</div>
