<div class="container-with-sidebar">
  <%= render 'shared/sidebar' %>

  <div class="content-column">

    <div class="mb-5">
      <div class="row card-header-new">
        <h1> MY MEETINGS </h1>
    </div>

    <div class="shadow-rounded mb-5">
      <%= week_calendar attribute: :start_time, events: @events_with_dates do |date, events| %>
        <div class="day-events" style="height: 1000px; margin-bottom: 2em;">

          <% time_slots.each do |time_slot, index| %>
            <div class="time-slot"
                style="top: <%= calculate_top_position_for_time_slot(time_slot) %>%;
                        height: <%= calculate_height_for_time_slot %>%;">
              <%= index %>
            </div>
          <% end %>

          <% events.each do |event| %>
            <% if event.is_a?(Meeting) %>
              <div class="meeting-card"
                  style="top: <%= calculate_top_position(event) %>%;
                          height: <%= calculate_height_for_meeting(event) %>%;
                          background-color: <%= event.package.service.color %>;">
                <%= link_to event.package.patient.first_name[0] + ". " + event.package.patient.last_name, patient_path(event.package.patient) %>
                <div style="display: flex; align-items: center;">
                  <%= event.start_time.strftime('%H:%M') %> - <%= (event.start_time + event.package.service.duration_per_unit.minutes).strftime('%H:%M') %>
                  <span style="margin-left: 5px;"><%= status_update_form(event)%></span>
                </div>
              </div>
            <% elsif event.is_a?(Absence) %>
              <div class="absence-card"
                  style="top: <%= calculate_top_position(event) %>%;
                  height: <%= calculate_height_for_meeting(event) %>%;">
                <strong>Absence (<%= event.reason %>)</strong>
                <br>
                <%= event.start_time.strftime('%H:%M') %> à <%= event.end_time.strftime('%H:%M') %>
                <div>
                  <%= link_to edit_absence_path(event) do %>
                    <i class="fas fas-black fa-edit" title="Edit"></i>
                  <% end %>
                  <%= link_to absence_path(event), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                    <i class="fa-regular fa-trash-can" style="color: #000000;" title="Delete"></i>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>



    <!-- WITHOUT PROPORTIONALITIES -->
    <!--
    <div class="shadow-rounded mb-5">
      <h3 class="text-center">My meetings</h3>
        <%= week_calendar attribute: :start_time, events: @events_with_dates do |date, events| %>
          <div class="day-events">
            <% events.each do |event| %>
              <% if event.is_a?(Meeting) %>
                <div class="absence-card" style="top: <%= (event.start_time.hour * 60) + event.start_time.min %>px; background-color: <%= event.package.service.color %>;">
                  <strong><%= event.start_time.strftime('%H:%M') %> to <%= (event.start_time + event.package.service.duration_per_unit.minutes).strftime('%H:%M') %></strong>
                  <br>
                  <%= event.package.service.name %>
                  <br>
                  <strong><%= event.package.patient.first_name + " " + event.package.patient.last_name %></strong>
                </div>
              <% elsif event.is_a?(Absence) %>
                <div class="absence-card" style="top: <%= (event.start_time.hour * 60) + event.start_time.min %>px;">
                  <strong><%= event.start_time.strftime('%H:%M') %> à <%= event.end_time.strftime('%H:%M') %></strong>
                  <br>
                  Absence (<%= event.reason %>)
                  <br>
                  <%= link_to edit_absence_path(event) do %>
                    <i class="fas fas-black fa-edit" title="Edit"></i>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
    </div>
    -->

  </div>

</div>


<!-- WITHOUT ABCENSES -->
<!--
    <%= week_calendar attribute: :start_time, events: @meetings_with_dates do |date, meetings| %>
      <div class="day-meetings">
        <% meetings.each do |meeting| %>
          <div class="meeting-card" style="top: <%= (meeting.start_time.hour * 60) + meeting.start_time.min %>px;">
            <%= meeting.start_time.strftime('%H:%M') %> - <%= (meeting.start_time + meeting.package.service.duration_per_unit.minutes).strftime('%H:%M') %>
            <br>
            <%= meeting.package.service.name %>
            <br>
            <% meeting.bookings.each do |booking| %>
              <%= booking.patient.first_name + " " + booking.patient.last_name %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
-->


<!-- UGLY STYLE -->
<!--
  <%= week_calendar attribute: :start_time, events: @meetings_with_dates do |date, meetings| %>
    <%= date.strftime('%A, %B %d') %>

    <div class="day-meetings">
      <% meetings.each do |meeting| %>
        <div class="meeting-card" style="top: <%= (meeting.start_time.hour * 60) + meeting.start_time.min %>px;">
          <%= meeting.start_time.strftime('%H:%M') %> - <%= (meeting.start_time + meeting.package.service.duration_per_unit.minutes).strftime('%H:%M') %>
          <br>
          <%= meeting.package.service.name %>
          <br>
          <% meeting.bookings.each do |booking| %>
            <%= booking.patient.first_name + " " + booking.patient.last_name %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
-->
