<style>
  .container-with-sidebar {
      display: flex;
      height: 100vh;
  }


  .sidebar {
      position: fixed;
      top: 0;
      left: 0;

      flex-shrink: 0;
      width: 280px;
      height: 100vh;

      padding-top: 2em;
      padding-left: 2em;
      padding-right: 2em;

      background-color: lightblue;
      overflow-y: auto;
  }

  .content-column {
      margin-left: 280px;  /* Compensating for the fixed sidebar width */
      flex-grow: 1;
      padding-left: 5em;
      padding-right: 5em;

      /* For smaller screens, reduce the padding */
      @media (max-width: 768px) {
          padding-left: 2em;
          padding-right: 2em;
      }
  }


  .meeting-card {
    width: 200px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 1em;
    border: 1px solid #ced4da;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 0.5em;
    left: 0;
    right: 0;
    width: 100%;
    color: black !important;
  }

  .absence-card {
    width: 200px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 1em;
    border: 1px solid #ced4da;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 0.5em;
    left: 0;
    right: 0;
    width: 100%;
    color: black !important;
  }

  .fas {
    margin-right: 10px;
    cursor: pointer;
  }

  .fas-black {
    color: black !important;
  }
</style>

<div class="container-with-sidebar">

  <div class="sidebar">
      <p class="text-center">Welcome <%= @therapist.first_name %> <%= @therapist.last_name %>!</p>

      <%= link_to week_availabilities_path, class: "btn btn-primary mb-3 d-block" do %>
          <i class="fas fa-calendar-week"></i> Week Availabilities
      <% end %>

      <%= link_to new_absence_path, class: "btn btn-primary mb-3 d-block" do %>
          <i class="fas fa-calendar-times"></i> New Absence
      <% end %>
      <!-- OTHER LINK -->
  </div>


  <div class="content-column">

    <h2>My meetings</h2>

    <%= week_calendar attribute: :start_time, events: @events_with_dates do |date, events| %>
      <div class="day-events">
        <% events.each do |event| %>
          <% if event.is_a?(Meeting) %>
            <div class="meeting-card" style="top: <%= (event.start_time.hour * 60) + event.start_time.min %>px; background-color: <%= event.package.service.color %>;">
              <strong><%= event.start_time.strftime('%H:%M') %> to <%= (event.start_time + event.package.service.duration_per_unit.minutes).strftime('%H:%M') %></strong>
              <br>
              <%= event.package.service.name %>
              <br>
              <% event.bookings.each do |booking| %>
                with <strong><%= booking.patient.first_name + " " + booking.patient.last_name %></strong>
              <% end %>
            </div>
          <% elsif event.is_a?(Absence) %>
            <div class="absence-card" style="top: <%= (event.start_time.hour * 60) + event.start_time.min %>px;">
              <strong><%= event.start_time.strftime('%H:%M') %> à <%= event.end_time.strftime('%H:%M') %></strong>
              <br>
              Absence (<%= event.reason %>)
              <br>
              <%= link_to edit_absence_path(event) do %>
                <i class="fas fas-black fa-edit" title="Edit"></i>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>

  </div>

</div>


<!-- WITHOUT ABCENSES -->
<!--
    <%= week_calendar attribute: :start_time, events: @meetings_with_dates do |date, meetings| %>
      <div class="day-meetings">
        <% meetings.each do |meeting| %>
          <div class="meeting-card" style="top: <%= (meeting.start_time.hour * 60) + meeting.start_time.min %>px;">
            <%= meeting.start_time.strftime('%H:%M') %> - <%= (meeting.start_time + meeting.package.service.duration_per_unit.minutes).strftime('%H:%M') %>
            <br>
            <%= meeting.package.service.name %>
            <br>
            <% meeting.bookings.each do |booking| %>
              <%= booking.patient.first_name + " " + booking.patient.last_name %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
-->


<!-- UGLY STYLE -->
<!--
  <%= week_calendar attribute: :start_time, events: @meetings_with_dates do |date, meetings| %>
    <%= date.strftime('%A, %B %d') %>

    <div class="day-meetings">
      <% meetings.each do |meeting| %>
        <div class="meeting-card" style="top: <%= (meeting.start_time.hour * 60) + meeting.start_time.min %>px;">
          <%= meeting.start_time.strftime('%H:%M') %> - <%= (meeting.start_time + meeting.package.service.duration_per_unit.minutes).strftime('%H:%M') %>
          <br>
          <%= meeting.package.service.name %>
          <br>
          <% meeting.bookings.each do |booking| %>
            <%= booking.patient.first_name + " " + booking.patient.last_name %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
-->
