<div class="container" data-controller="slot-selection" data-slot-selection-duration="<%= @duration %>">
  <div class="row mt-5">
    <div class="p-4 shadow-rounded">
      <h2 class="text-center">Schedule a Meeting</h2>

      <%= form_for @meeting do |f| %>

        <!-- HIDEN FIELD -->
        <% if @package %>
          <%= f.hidden_field :package_id, value: @package.id %>
        <% end %>
        <%= f.hidden_field :status, value: "Pending", data: { slot_selection_target: "status" } %>

        <!-- FIELD Start Time et End Time READ-ONLY-->

        <div class="form-group col-md-5">
          <%= f.label :start_time, "Selected Start Time:" %>
          <%= f.text_field :start_time, class: 'form-control', data: { slot_selection_target: "startTime" }, readonly: true %>
        </div>
        <div class="form-group col-md-5">
          <%= f.label :end_time, "End Time:" %>
          <%= f.text_field :end_time, class: 'form-control', data: { slot_selection_target: "endTime" }, readonly: true %>
        </div>

        <!-- FIELD AVAILABILITIES SLOTS -->

        <div class="form-group">
          <%= week_calendar attribute: :start_time, events: @final_slots_array do |date, slots| %>
            <div class="day-events">
              <% slots.each do |slot| %>
                <div class="availability-cardd slot" data-slot-target="slot" data-time="<%= slot.start_time %>" data-action="click->slot-selection#select">
                  <%= slot.start_time.strftime('%H:%M') %>
                  <br>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>

        <div class="form-group">
          <%= f.label :info_public, "Public Information:" %>
          <%= f.text_area :info_public, class: 'form-control' %>
        </div>

        <% if current_user&.therapist %>
          <div class="form-group">
            <%= f.label :info_private, "Private Information (Visible only to therapists):" %>
            <%= f.text_area :info_private, class: 'form-control' %>
          </div>
        <% end %>

        <!-- Bouton Submit -->
        <div class="actions mt-3">
          <%= f.submit 'Schedule Meeting', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
