<div class="team-boxed wrapper-home-container">
  <div class="container">
    <div class="intro">
        <h1 class="text-center">Therapists</h1>
        <p class="text-center">Explore our carefully curated list of highly skilled therapists. Our team of certified experts is dedicated to your well-being, ensuring you receive top-notch care and personalized treatments.</p>
    </div>
    <div class="row people">
        <% @therapists.each do |therapist| %>
          <div class="col-3 item">
            <div class="box">
              <% if therapist.photo.attached? %>
                  <%= cl_image_tag therapist.photo.key, class: "card-img-top rounded"%>
                <% else %>
                  <img class="card-img-top rounded" src="https://images.unsplash.com/photo-1609220136736-443140cffec6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80" alt="Card image cap" class="card-img-top rounded", style:="width: 290px; height:193px">
                <% end %>
              <h3 class="name"><%= therapist.first_name%></h3>
              <p class="title"><%= therapist.title%></p>
              <p class="description"><%= therapist.information %></p>
              <div class="buttons-div">
                <%= link_to "Details", therapist_path(therapist), class: "button-18" %>
                <%= link_to "Book", new_package_path(@package), class: "button-18" %>
              </div>
            </div>
          </div>
        <% end %>
    </div>
  </div>
</div>
