<h1>My Availability</h1>

<%= link_to 'Add Weekly Availability', new_week_availability_path, class: 'btn btn-primary mb-3' %>

<% @week_availabilities.each do |week_availability| %>
  <div class="card my-3">
    <div class="card-header">
      Availability for the week of <%= week_availability.valid_from %> to <%= week_availability.valid_until %>
      <%= link_to 'Add Time Block', new_week_availability_time_block_path(week_availability), class: 'btn btn-secondary float-right ml-2' %>
      <%= link_to 'Edit', edit_week_availability_path(week_availability), class: 'btn btn-warning float-right ml-2' %>
      <%= link_to 'Delete', week_availability_path(week_availability), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger float-right ml-2' %>
    </div>
    <ul class="list-group list-group-flush">
      <% week_availability.time_blocks.each do |time_block| %>
        <li class="list-group-item">
          <%= time_block.week_day %> : <%= time_block.start_time %> - <%= time_block.end_time %>
          <%= link_to 'Edit', edit_time_block_path(time_block), class: 'btn btn-warning btn-sm float-right ml-2' %>
          <%= link_to 'Delete', time_block_path(time_block), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm float-right ml-2' %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
