<div class="navbar navbar-expand-sm navbar-dark navbar-lewagon">
  <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag "https://i.ibb.co/bH60H1C/Untitled-design.png" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="shadow-md collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "Services", "/services", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Therapists", "/therapists", class: "nav-link" %>
        </li>


  <div class="shadow-md collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item">
          <% if current_user.therapist.present? %>
            <%= link_to "My dashboard", "/meetings", class: "nav-link" %>
          <% end %>
        </li>
        <% unless current_user.therapist.present? %>
          <li class="nav-item">
            <%= link_to "My packages", "/packages", class: "nav-link" %>
          </li>
        <% end %>
        <li class="nav-item">
          <%= link_to "Log out", destroy_user_session_path, class: "nav-link", data: { turbo_method: :delete } %>
        </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>


      </ul>
    </div>
  </div>
</div>
