  <div class="sidebar therapist-info">
    <div class="d-flex justify-content-center align-items-center">
        <% if @therapist.photo.attached? %>
            <div class="image-container-sidebar">
                <%= cl_image_tag(@therapist.photo.key, alt: "Therapist Photo", class: "my-image rounded-circle") %>
            </div>
        <% else %>
            <p>No photo</p>
        <% end %>
    </div>

    <div>
      <% if @therapist.present? %>
        <p class="text-center"> Welcom <%= @therapist.first_name %>!</p>
        <strong><p class="text-center"><%= @therapist.location_name %></p></strong>
        <p class="text-center"><%= @therapist.location_address %></p>
      <% end %>
    </div>

    <div class="mt-3">

      <%= link_to meetings_path, class: "btn btn-primary mb-3 d-block" do %>
          <i class="fas fa-calendar-week"></i> My meetings
      <% end %>

      <%= link_to week_availabilities_path, class: "btn btn-primary mb-3 d-block" do %>
          <i class="fas fa-calendar-week"></i> My working hours
      <% end %>
      <%= link_to new_absence_path, class: "btn btn-primary mb-3 d-block" do %>
          <i class="fas fa-plus"></i> New absence
      <% end %>
      <!-- OTHER LINK -->
    </div>

    <div class="mt-3">
      <h5 class="text-center">My patients</h5>
      <% @patients.each do |patient| %>
        <%= link_to "#{patient.first_name} #{patient.last_name.upcase}", patient_path(patient), class: "" %>
        <br>
      <% end %>
    </div>



  </div>
