<!-- app/views/patients/show.html.erb -->

<div class="container-with-sidebar">
  <%= render 'shared/sidebar' %>

  <div class="content-column shadow-rounded mb-5">
      <div class="mb-5">
        <div class="mb-5">
          <div class="card-header text-center", style="padding: 0.8rem;">
            <strong><%= @patient.first_name %> <%= @patient.last_name.upcase %></strong>
          </div>
          <div class="card-body mt-3">
            <p class="card-text">Date de naissance: <%= @patient.date_of_birth %></p>
            <p class="card-text">Adresse: <%= @patient.addresse %></p>
          </div>
        </div>

        <div class="mb-5" >
          <% @packages.each do |package| %>
          <div class="row" data-controller="toggle">
            <div class="card-header text-center">
              <h6><%= package.service.name %> (<%= package.num_of_session %> sessions)
                <%= link_to edit_package_path(package), class: 'float-right ml-2' do %>
                  <i class="fas fas-black fa-edit"></i>
                <% end %>
                <button data-action="toggle#toggle" class="btn btn-sm float-right">
                  <i class="fas fas-black fa-eye" data-toggle-icon></i>
                </button>
              </h6>
            </div>

            <div class="card-body hide-content" data-toggle-target="content">

              <!-- First Column -->
              <div class="col-md-3">
                <p><strong>Insurance</strong></p>
                <p><%= package.insurance_name %> (<%= package.insurance_type %>)</p>
                <p>N°<%= package.insurance_number %></p>
              </div>

              <!-- Second Column -->
              <div class="col-md-9">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col"><strong></strong></th>
                      <th scope="col"><strong>Date</strong></th>
                      <th scope="col"><strong>Status</strong></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% Meeting.where(package: package).order(:start_time).each_with_index do |m, index| %>
                      <% row_class = m.start_time && m.start_time < (Time.now + 24.hours) ? 'text-muted' : '' %>
                      <% if m.start_time.present? %>
                        <tr>
                          <th scope="row"><%= index + 1 %></th>
                          <td>
                            <div class="<%= row_class %>">
                              <%= m.start_time.try(:strftime, "%d %B %Y from %H:%M") %> to <%= m.end_time.try(:strftime, '%H:%M') %>
                              <% if m.start_time > (Time.now + 24.hours) %>
                                <%= link_to edit_meeting_path(m.id), class: 'float-right ml-2' do %>
                                  <i class="fas fas-black fa-edit" title="Edit"></i>
                                <% end %>
                              <% end %>
                            </div>
                          </td>
                          <td>
                            <span class="<%= status_class(m.status) %>"><%= m.status %></span>
                          </td>
                        </tr>
                      <% else %>
                        <tr>
                          <th scope="row"><%= index + 1 %></th>
                          <td class="text-warning"><strong>To be booked</strong></td>
                          <td><%= link_to "Book", edit_meeting_path(m.id), class: "btn btn-primary btn-sm" %></td>
                        </tr>
                      <% end %>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <% end %> <!-- Closing the @patient.packages loop -->
        </div>


      </div>
  </div>

</div>
