<!-- app/views/patients/show.html.erb -->

<div class="container-with-sidebar">
  <%= render 'shared/sidebar' %>

  <div class="content-column">
      <div class="mb-5">
        <div class="row card-header text-center", style="padding: 0.8rem; border-radius: 15px;">
          <strong><%= @patient.first_name %> <%= @patient.last_name.upcase %></strong>
        </div>
        <div class="shadow-rounded-upper">
        <%= simple_form_for @patient do |f| %>
          <div class="row">
            <div class="col-md-3">
                <%= f.input :first_name %>
                <%= f.input :last_name %>
                <%= f.input :addresse %>
            </div>
            <div class="col-md-3">
                <%= f.input :date_of_birth, as: :date, start_year: Time.now.year - 100, end_year: Time.now.year, order: [:day, :month, :year], input_html: { id: 'dob' } %>
                <%= f.input :age, input_html: { readonly: true, id: 'age' } %>
                <%= f.input :tel_1 %>
                <%= f.input :tel_2 %>
            </div>
            <div class="col-md-3">
                <%= f.input :contact_name %>
                <%= f.input :contact_info %>
                <%= f.input :contact_tel %>
            </div>
            <div class="col-md-3">
                <%= f.input :contact_name %>
                <%= f.input :contact_info %>
                <%= f.input :contact_tel %>
                <%= f.input :info_private %>
                <%= f.input :info_public %>
            </div>
          </div>
          <div class="text-center mt-3">
              <%= f.button :submit, "Update", class: "btn btn-primary" %>
          </div>
        <% end %>
        </div>
      </div>


      <% @packages.each do |package| %>
      <div class="shadow-rounded mb-5" data-controller="toggle">
        <div class="row text-center mb-3 p-2" style="background-color: <%= package.service.color %>; border-radius: 15px;">
          <h6 class= mb-0><%= package.service.name %> (<%= package.num_of_session %> sessions) with <%= package.therapist.first_name %>
            <%= link_to edit_package_path(package), class: "no-underline ms-3" do %>
              <i class="fas fas-black fa-edit"></i>
            <% end %>
            <%= link_to package_path(package), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                <i class="fa-regular fa-trash-can" style="color: #000000;" title="Delete"></i>
            <% end %>
            <button data-action="toggle#toggle" class="btn btn-sm float-right">
              <i class="fas fas-black fa-eye" data-toggle-icon></i>
            </button>
          </h6>
        </div>
        <div class="row" data-toggle-target="content">
          <!-- First Column -->
          <div class="col-md-4">
            <p><strong>Insurance</strong></p>
            <p><%= package.insurance_name %> (<%= package.insurance_type %>)<br> N°<%= package.insurance_number %></p>
            <p><strong>Informations</strong></p>
            <p>Public: <%= package.info_public %><br>Intern: <%= package.info_private %></p>
          </div>
          <!-- Second Column -->
          <div class="col-md-6">
            <table class="table">
              <thead>
              </thead>
              <tbody>
                <% Meeting.where(package: package).order(:start_time).each_with_index do |meeting, index| %>
                  <% row_class = meeting.start_time && meeting.start_time < (Time.now + 24.hours) ? 'text-muted' : '' %>
                  <% if meeting.start_time.present? %>
                    <tr>
                      <th scope="row"><%= index + 1 %></th>
                      <td>
                        <div class="<%= row_class %>">
                          <%= meeting.start_time.try(:strftime, "%d %B %Y from %H:%M") %> to <%= meeting.end_time.try(:strftime, '%H:%M') %>
                        </div>
                      </td>
                      <td>
                        <%= status_update_form(meeting) %>
                      </td>
                      <td>
                        <% if meeting.start_time > (Time.now + 24.hours) %>
                          <%= link_to edit_meeting_path(meeting.id), class: "no-underline ms-3" do %>
                          <i class="fas fas-black fa-edit" title="Edit"></i>
                          <% end %>
                        <% end %>
                      </td>
                    </tr>

                  <% else %>
                    <tr>
                      <th scope="row"><%= index + 1 %></th>
                      <td><%= link_to edit_meeting_path(meeting.id) do %>
                            <i class="fas fas-black fa-calendar" title="Book"></i>
                          <% end %>
                      </td>
                    </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          </div>

          <!-- Third Column -->
          <div class="col-md-2">
            <% meetings_by_status = Meeting.where(package: package).group(:status).count %>
            <%= pie_chart meetings_by_status, colors: colors_for_data(meetings_by_status), width: "200px", height: "200px" %>
          </div>

          <!-- Media Section -->
          <% if package.media_list.present? %>
            <div class="shadow-rounded mb-5" data-controller="toggle">
              <div class="row text-center mb-3 p-2" style="background-color: <%= package.service.color %>; border-radius: 15px;">
                <h6 class= mb-0>Media
                  <button data-action="toggle#toggle" class="btn btn-sm float-right">
                    <i class="fas fas-black fa-eye" data-toggle-icon></i>
                  </button>
                </h6>
              </div>
              <div class="card-group" data-toggle-target="content">
                <% package.media_list.each do |m| %>
                  <div class="card shadow-rounded mb-5">
                    <%= youtube_video m.url %>
                    <div class="card-body">
                       <h5 class="card-title"><%= m.title %></h5>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
