

<div class="simple-calendar" style="margin: 0; padding: 0;">
  <div class="calendar-heading">

    <nav>
      <div class="d-flex align-items-center justify-content-between">
        <%= link_to t('simple_calendar.previous', default: '<<'), calendar.url_for_previous_view, class: "btn btn-link", style: "text-decoration: none; color: black; font-weight: bold;" %>
        <%= link_to t('simple_calendar.today', default: 'Today'), calendar.url_for_today_view, class: "btn btn-link me-3 ms-3", style: "text-decoration: none; color: black; font-weight: bold;" %>
        <%= link_to t('simple_calendar.next', default: '>>'), calendar.url_for_next_view, class: "btn btn-link", style: "text-decoration: none; color: black; font-weight: bold;" %>
        <span class="me-3"><%= t('simple_calendar.week', default: '') %></span>
        <p class="mb-0"><strong><%= calendar.date_range.first.strftime("%d %B %Y") %> - <%= calendar.date_range.last.strftime("%d %B %Y") %></strong></p>
      </div>
    </nav>

  </div>

  <div class="calendar-table-container mt-3">
    <table class="table table-bordered table-striped custom-table" style="margin: 0; border: hide !important;">
      <thead>
        <tr>
          <% date_range.slice(0, 7).each do |day| %>
            <th class="calendar-day-header", style= "border: none; text-align: center;"><%= t('date.day_names')[day.wday] %> <%= day.strftime("%d") %> </th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% date_range.each_slice(7) do |week| %>
          <tr>
            <% week.each do |day| %>
              <%= content_tag :td, class: (calendar.td_classes_for(day)).join(' '), style: "border: none;" do %>
                <div class="calendar-day-content">
                  <% instance_exec(day, calendar.sorted_events_for(day), &passed_block) %>
                </div>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


<!--
<div class="simple-calendar">
  <div class="calendar-heading">
    <h4 class="mt-3 text-center">
      <span class="calendar-title">
        <%= t('simple_calendar.week', default: 'Week') %>
        <%= calendar.week_number %>
        <% if calendar.number_of_weeks > 1 %>
          - <%= calendar.end_week %>
        <% end %>
      </span>
    </h4>

    <nav class="mt-3 text-center">
      <%= link_to t('simple_calendar.previous', default: 'Previous'), calendar.url_for_previous_view %>
      <%= link_to t('simple_calendar.today', default: 'Today'), calendar.url_for_today_view %>
      <%= link_to t('simple_calendar.next', default: 'Next'), calendar.url_for_next_view %>
    </nav>
  </div>

  <div class="calendar-table-container mt-3">
    <table class="table table-bordered table-striped custom-table">
      <thead>
        <tr>
          <% date_range.slice(0, 7).each do |day| %>
            <th class="calendar-day-header"><%= t('date.abbr_day_names')[day.wday] %></th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% date_range.each_slice(7) do |week| %>
          <tr>
            <% week.each do |day| %>
              <%= content_tag :td, class: calendar.td_classes_for(day) do %>
                <div class="calendar-day-content">
                  <% instance_exec(day, calendar.sorted_events_for(day), &passed_block) %>
                </div>
                <div class="calendar-day-content">
                  <% 8.upto(20).each do |hour| %>
                    <div>
                      <%= Time.parse("#{hour}:00").strftime("%l %P") %>
                    </div>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
